/*************************************************************************************************************
 autor: JAVIER RODRÍGUEZ SOLER.
 V 0.1
 08/2015
**************************************************************************************************************/

/*--------------------------------------------------------COMMONS----------------------------------------------------------------------------------*/
.pantalla {display : none;}
.pantalla.activa {display : block;}
.detalle_activo{display : block;}
.detalle_inactivo{display : none;}

 /*Legenda de la gráfica.*/
.legend {width: 15em !important;border: 1px solid black;}
.legend .title {display: block;margin-bottom: 0.5em;line-height: 1.2em;padding: 0 0.3em;}
.legend .color-sample {display: block;float: left;width: 1em;height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}
.legend span{margin-top: 5% !important;}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------NAVBAR HEADER-----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*Configuración general navbar*/
.navbar {background: #2d4d73;}
.navbar-brand { width: 43px; height: 43px; padding: 2%; margin: 0.5%; border-radius: 50%; background-size: 100% auto; -webkit-background-size: 100% auto; background-color:#43ac5f;}
/*Principal Menu*/
.navbar-toggle { width: 18px; height: 42px; position: absolute; top: 5px; right: 18px; padding: 0; border: 0; margin: 0; border-color:white !important;}
#icon_house {background-color: #aec7d2;}
#icon_elec {background-color:#43ac5f; padding: 3%;  margin-left:1%;}
#icon_gas {background-color:#f0000b; padding-left: 4.5%; padding-top: 2.5%; margin-left:1%;}
#icon_agua {background-color:#f0000b; padding-left: 4%;  margin-left:1%;}
#icon_euro {background-color:#43ac5f; padding: 2.5%;  margin-left:1%;}
.glyphicon-earphone{background-color:#43ac5f;color:#fff;padding-left: 4.5%;padding-top: 2.5%;font-size: 24px;}
#telefono:hover{background-color:#43ac5f!important};
/*MODIFICACIÓN DEL NAVBAR DAR SOMBREADO Y ELIMINAR BORDE BLANCO ALREDEDOR DEL MISMO*/
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{background-color:#43ac5f!important};
.navbar-default{border-top:none;box-shadow: none;}
.navbar-default {border-color: #2d4d73;-webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);}
/*----------------------------------------------BOODIE----------------------------------------------------------------*/



/*---------------------------------------------LOGIN----------------------------------------------------------------*/

.login{margin-top:12%;}
.login .container-bottom {margin-bottom: 15px; border-top:2px solid rgb(200, 200, 200);}
.ico-fb {width: 20px;height: 20px;background-image: url("img\fb.png");}
.login #google-login {background-color: crimson;}
#facebook-login {background-color: #3b5998;margin-top: 15px;}
#google-login {background-color: #db4a39;margin-top: 15px;}


/*------------PRINCIPAL*------------------*/
.principal {padding-top: 0px;}
.principal h5{border:2px;border: 1px solid rgb(200, 200, 200);-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	letter-spacing: 1px; padding:5%;}
.principal h2{border:2px;border: 1px solid rgb(200, 200, 200);-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	letter-spacing: 1px; padding:5%;margin-top: 15%; color:aquamarine;}
.principal h4{border:2px;border: 1px solid rgb(200, 200, 200);-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	letter-spacing: 1px; padding:25%;margin-top: 45%; color:aquamarine;text-align: left;}
.principal span{margin-top: 95%; border: 0px; background-size: 100% 100%; -webkit-background-size: 100% 100%; background-color:transparent;}
.principal .lista span{text-align: left; margin-top: 15px; border: 0px;border-radius: 0%; background-size: 0%; -webkit-background-size: 0%; background-color:transparent;}
.principal .lista span a{text-align: left; margin-top: 15px; border: 0px;border-radius: 0%; background-size: 0%; -webkit-background-size: 0%; background-color:transparent; margin-right:50px}
.glyphicon-circle-arrow-down{margin-top:15px; color:greenyellow;font-size: 50px;}



.principal .lista ul { list-style: none outside none; padding: 0;margin: 0 0 20px; background-color: rgba(255,255,255,.94); }
.principal .lista li { padding: 7px; }
.principal .lista li:first-child { border-top: 0; }
.principal .lista li {font-size: 1.3em; border:0px; border-bottom: 1px solid rgb(200, 200, 200); margin-top: 5%;-moz-border-radius: 0px;-webkit-border-radius: 0px;
	border-radius: 0px;padding: 0px;text-align: left;margin-top: 5px;color:aquamarine;}
.glyphicon-chevron-right{color:black; margin-top:25px;font-size: 20px;padding-right:0px;padding-left: 12%;}
.principal .lista .marca_negativa{color:red;}



.principal .btn {align-items: center;}


.principal .recomendaciones h5 {margin-top:5%; color:blue; text-decoration: underline;border:0px;}

/*-----
.principal .lista h4{border:0px; border-bottom: 1px solid rgb(200, 200, 200); margin-top: 5%;-moz-border-radius: 0px;-webkit-border-radius: 0px;
	border-radius: 0px;padding: 0px;text-align: left;margin-top: 5px;}
.principal .lista span{text-align: left; margin-top: 15px; border: 0px;border-radius: 0%; background-size: 0%; -webkit-background-size: 0%; background-color:transparent;}

.glyphicon-chevron-right{color:black; margin-top:25px;font-size: 20px;padding-left:-25px;}
-----*/


/*----------------------VENTANA DETALLE-----------------------*/

#detail_home > div.row-fluid > div{ border-bottom: 1px solid rgb(200, 200, 200);}
#detail_home > div.row-fluid > div > strong{font-size: 1.3em;text-align: left;margin-top: 5px;color:aquamarine;  }
#boton2_vivienda > span {margin-top: 0px; !important; border: 0px solid greenyellow; border-radius: 0%;}
.glyphicon-chevron-left {padding-left : 15%;font-size: 20px;color: black;}
#grafica_detail_home {margin-top: 0px; margin-bottom: 1px;}



/*------------------------------------------------VEMTAMA LOGIN------------------------------------------------------------------------------------*/
.filalogin{padding-top: 45px; padding-bottom: 35px;}
.segundaria .btn{margin-top: 15px;padding:15px;}


/*-----------------------------------------------VENTANA COMPARADOR-------------------------------------------------------------------------------*/
#myChart {
    margin: auto;
    width: 100px;
}
#comparador .row{ margin-left:0px; margin-right:0px;}
/*----------------------------------- VENTANA DETALLE RECOMENDACIONES------------------------------*/
.glyphicon-ok-circle {color: forestgreen; font-size: 35px;}
.glyphicon-remove-circle {color: crimson; font-size: 35px;}
.glyphicon-ban-circle  {color:darkorange; font-size: 35px;}


/*------------------------------------ VISTA PRINCIPAL ELECTRICIDAD--------------------------------*/

.principal_electricidad h5{border:2px;border: 1px solid rgb(200, 200, 200);-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	letter-spacing: 1px; padding:5%;}
.principal_electricidad h2{border:2px;border: 1px solid rgb(200, 200, 200);-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	letter-spacing: 1px; padding:5%;margin-top: 15%; color:crimson;}
.principal_electricidad h4{border:2px;border: 1px solid rgb(200, 200, 200);-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	letter-spacing: 1px; padding:25%;margin-top: 45%; color:crimson;text-align: left;}
.principal_electricidad span{margin-top: 95%; border: 0px !important; background-size: 100% 100%; -webkit-background-size: 100% 100%; background-color:transparent;}
.principal_electricidad .lista span{text-align: left; margin-top: 15px; border: 0px;border-radius: 0%; background-size: 0%; -webkit-background-size: 0%; background-color:transparent;}
.principal_electricidad .lista span a{text-align: left; margin-top: 15px; border: 0px;border-radius: 0%; background-size: 0%; -webkit-background-size: 0%; background-color:transparent; margin-right:50px}
.glyphicon-circle-arrow-up {margin-top:15px; color:crimson;font-size: 50px;}



.principal_electricidad .lista ul { list-style: none outside none; padding: 0;margin: 0 0 20px; background-color: rgba(255,255,255,.94); }
.principal_electricidad .lista li { padding: 7px; }
.principal_electricidad .lista li:first-child { border-top: 0; }
.principal_electricidad .lista li {font-size: 1.3em; border:0px; border-bottom: 1px solid rgb(200, 200, 200); margin-top: 5%;-moz-border-radius: 0px;-webkit-border-radius: 0px;
	border-radius: 0px;padding: 0px;text-align: left;margin-top: 5px;color:aquamarine;}
.principal_electricdad .glyphicon-chevron-right{color:black; margin-top:25px;font-size: 20px;padding-right:0px;padding-left: 25%;}
.principal_electricidad .lista .marca_negativa{color:red;}



.principal_electricidad .btn {align-items: center;}


.principal_electricidad .recomendaciones h5 {margin-top:15%; color:blue; text-decoration: underline;border:0px;}



/*----------------------VENTANA DETALLE ELECTRICIDAD.-----------------------*/

#detail_elec > div.row-fluid > div{ border-bottom: 1px solid rgb(200, 200, 200);}
#detail_elec > div.row-fluid > div > strong{font-size: 1.3em;text-align: left;margin-top: 5px;color:aquamarine;  }
#boton2_electricidad > span {margin-top: 0px; !important; border: 0px solid greenyellow; border-radius: 0%;}
.glyphicon-chevron-left {padding-left : 15%;font-size: 20px;color: black;}
#grafica_detail_elec {margin-top: 25px; margin-bottom: 2.2px;}


/*------------------------------------ VISTA PRINCIPAL EUROS-------------------------------*/

.principal_euros h2 {color: crimson !important;}
.principal_euros h4 {color: crimson !important;}
.principal_euros .glyphicon-chevron-right{color:black; margin-top:25px;font-size: 20px;padding-right:0px;padding-left: 1%;}

/*--------------------------------------VENTANA DIALOGO-----------------------------------------*/
#modal{background-color:#fff; width:300px; height: 100px; display:none; border-radius: 23px 23px 23px 23px;
-moz-border-radius: 23px 23px 23px 23px;-webkit-border-radius: 23px 23px 23px 23px; border: 1px solid #000000;}

/*-----------------------------------------------------NAVBAR FOOTER--------------------------------------------------------------------------------*/
.footer {position: absolute; bottom: 0; width: 100%; height: 50px; background-color: #2d4d73;} /*MODIFICAR HEIGHT PARA TAMAÑO DEL FOOTER*/
.footer .navbar-brand { width: 43px; height: 43px; padding: 2%; padding-top: 0%; margin: 0%; background-size: 100% auto; -webkit-background-size: 100% auto;background-color: transparent;}
.footer h2{margin-top: 10px; margin-left: 20%; color: white;padding-bottom: 2%;}
.footer #icon_elec {margin-top: 0.5%;padding-top: 2%;  margin-left: 50%;background-color: forestgreen;color:forestgreen;}
.glyphicon-off {color:white; padding-top: 10px;font-size: 29px;}
.glyphicon-exclamation-sign {color:#fff; padding-top: 10px;font-size: 29px;}

#login{ display:none;
	position: absolute;
	top:9%;
    width:100%;
  right:0%;
  height: 82%;
  z-index: 3;
  margin: 0;
  overflow:inherit;
	background-color:#fff}

#wrapper{
	position: absolute;
	z-index: 10;
	top: 48px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;

}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
#scroller li {
	padding: 0 auto;
	height: auto;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}
.tocenter {
	padding-top: 50%;
    margin:15px auto;
    display: inline;
	width: 60px;
    }


/**************************MEDIA QUERIES ****************************************/
@media (max-width: 320px) {
	body {	font-size: 12px;}
	#icon_elec {background-color:#43ac5f; padding: 3%;  margin-left:0.5%;}
	#icon_gas {background-color:#f0000b; padding-left: 4.5%; padding-top: 2.5%; margin-left:0.5%;}
	#icon_agua {background-color:#f0000b; padding-left: 4%;  margin-left:0.5%;}
	#icon_euro {background-color:#43ac5f; padding: 2.5%;  margin-left:0.5%;}
	#button_login {right:0px !important;}
	.principal {padding-top: 0px;}
	.principal h4 {margin-top: 5%;padding-left: 0px!important;}
	.principal h2 {margin-top: 3%;}
	.principal span{margin-top: 5%;}
	.principal .lista li {margin-top: -9px;}
	.principal .recomendaciones h5 {margin-top: 0%;}
	.footer #icon_elec {margin-left: 40%;}
	canvas {width: 200px!important; height: 200px!important;}
	#comparador h4  {font-size: 12px;}
	#comparador button {font-size: 12px;}
	#login {top: 15%;height: 68%;}
	#comparador .row{ margin-left:20px; margin-right:20px;}
	.principal .glyphicon-chevron-right {padding-left: 5%;}
	.principal_euros .glyphicon-chevron-right {padding-left: 1%;}
	.h2, h2 {font-size: 20px;}

}
